.header
	height: 72px
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
	background-color: $dark-bg
	position: relative
	z-index: 1

	&>.container
		display: flex
		justify-content: space-between
		align-items: center
		height: 100%
	
	&__navigation
		font-size: 18px
		font-weight: 700
		display: flex
		justify-content: space-between
		align-items: center

		& i 
			margin-right: 25px

	&__link
		margin-right: 25px

	&__search
		color: $accent-color

	&__logo
		display: flex
		align-items: center

		>i
			font-size: 40px
			color: #fff
			margin-right: 5px
		
	&__title
		color: #fff
		font-size: 20px
		font-weight: 700
		text-transform: uppercase	

	&__buttons
		display: flex
		justify-content: space-between
		width: calc(260 / (1420 / 100) * 1%)

	&__log-in
		width: 129px
		height: 39px
		border-radius: 100px
		border: 1px solid #fff
		background-color: transparent
		color: #fff
		font-size: 16px
		font-weight: 700	
		margin-left: 12px;

	&__icon-user
		color: $accent-color
		margin-right: 3px
	