=addInputIcon($icon-code, $color, $font-size)
	position: relative

	&:before
		content: $icon-code
		position: absolute
		top: 0
		bottom: 0
		right: 15px
		font-size: $font-size
		display: block
		line-height: 15px
		color: $color
		cursor: pointer