//colors
$accent-color		: #87e389
$footer-text-color	: #32448c
$text-color-gray	: #8187ae
$dark-bg			: #121423
$nets-bg			: #277ebc, #f98d2e, #3b5998, #4d76a1, #dc4e41

//font-size
$title-size			: "24px"

